@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import "tailwindcss";

@theme {
  --color-firstColor: #EEB609; 
  --color-secondColor: #996515; 
  --font-lux: "Luxurious Roman", cursive;
}
.whatsapp-ico{
    fill: white;
    width: 50px;
    height: 50px;
    padding: 3px;
    background-color: #4dc247;
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
    position: fixed;
    bottom: 20px;
    right : 20px;
    z-index: 10;
}

.whatsapp-ico:hover{
    box-shadow: 2px 2px 11px rgba(0,0,0,0.7);
}